
.mens-tshirt-header{
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0px 20px;
	font-size: 25px;
	color: black;

}
.mens-tshirt-header a{
	text-decoration: none;
	color: black;
}



.checkout-name{
	text-align: center;
	color: black;
	margin-top: 25px;
	margin-bottom: 15px;
}
.demo{
	text-align: center;
	color: grey;
	font-size: 15px;
}
.form{
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
	grid-template-columns: repeat(2,1fr);

}
.form-big{
	margin-right: 20px;
}

.form-element input{
	border: 0px solid white;
	border-bottom: 1px solid grey; 
	width: 100%;
	outline: none;
}


.form-element{
	padding-bottom: 35px;
	position: relative;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}








.form-element label, .cvv label{
	position: absolute;
	top: -3px;
	color: grey;
	opacity: 0;
	font-size: 15px;
	z-index: -1;
}





 input:focus ~ label{
 	z-index: 1;
	opacity: 1;

	top: -20px;
	font-size: 11px;
	color: black;
	font-weight: bold;
	transition: 0.5s ease;
}
.form-element input:valid + label{
	z-index: 1;
	opacity: 1;	
	top: -20px;
	font-size: 11px;
	color: black;
	font-weight: bold;
}


/*
for red colour input error

.form-element input:not(:valid):not(:focus) + label{
	z-index: 1;
	opacity: 1;	
	top: -20px;
	font-size: 11px;
	color: red;
	font-weight: bold;

}	
*/

@keyframes first{
	from{
	
	}
	to{
	opacity: 1;	
	top: -20px;
	font-size: 11px;
	color: black;
	font-weight: bold;
	}
	

}


input::-webkit-input-placeholder{
	font-size: 15px;
}

input:focus::-webkit-input-placeholder {

    opacity: 0;

}

.border-line::after{
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	padding-bottom: 1px;
	background: black;
	transition: width 0.8s ease;
}

.cvv{
	position: relative;
}



.form-element input:focus ~ .border-line::after , .cvv input:focus ~ .border-line::after{
	width: 100%;
	background-color: black;
	padding-bottom: 1px;
	
}

.form-element-1{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	
}

.Country-opt{
	width: 100%;
	padding-bottom: 4px;
	border: none;
	outline: none;
}


.form-element-3-inside{
	display: inline-block;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
}

.form-element-3-inside span input[type='checkbox']{

    padding: 10px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: blue;
    margin-left: 0;
}
.diff-add{
	margin-top: 25px;
	width: 100%;
	display: none;
}
.form-element-3-inside input:checkeds + div{
	
	display: block;

}


.form-element select{
	border: 0px solid white;
	border-bottom: 1px solid grey;

}

.Expiry{
	font-size: 12px;
	margin-bottom: 10px;
}
.form-element-2 , .form-element-2 select{
	border: 0px solid white;
	width: 100%;
	
}
.opt::after{
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	padding-bottom: 1px;
	background: black;
	transition: width 0.5s ease;
}


.month select:focus ~ .opt::after, .year select:focus ~ .opt::after , .Country-opt-div select:focus ~ .opt::after {
	width: 100%;
	background-color: black;
	padding-bottom: 1px;
}





.month select{
	border: none;
	outline: none;

}
.year select{
	border: none;
	outline: none;
}

#cvv{
	border: none;
	width: 100%;
	outline: none;
}




.Summary{
	margin-top: 20px;
	padding-bottom: 20px;
}
.form-element-2{
	display: grid;
	grid-template-columns: repeat(3,1fr);

}

.form-element-2-inside{
	border-bottom: 1px solid grey;	
	margin-right: 3px;


}






.place-order-div{
	text-align: left;
	min-width: 30%;
}

.Country{
	font-size: 13px;
}

.acc-info,.ship-add{
	font-size: 17px;
	font-weight: bold;
}

.item-list{
	display: inline-block;
	
}
.item-price{
	display: inline-block;
	float: right;
	clear: both;

}

.bill-add{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 20px;
}


#place-order{
	padding: 8px 30px;
	border: 2px solid black;
	text-align: center;
	background-color: white;
	width:200px;

}

#sm-place-order{
	display: none;
}

input[type='checkbox'] {
	margin-left:  0;

}


@media (max-width: 768px){
	body{
		margin:0px;
	}
	.form{
		margin-left: 0%;
		margin-right: 0%;
	}
	.form-a{
		grid-column: 1/3;
		grid-row: 1/2;
		margin-left: 3%;
		margin-right: 3%;
	}
	.form-b{
		margin-top: 29px;
		grid-column: 1/3;
		margin-left: 3%;
		margin-right: 3%;
	}



	.gap{
		display: block;
		height: 15px;
		padding-top: 15px;
		margin-top: 15px;

	}

	#place-order{
		display: none;
	}


	#sm-place-order{
		
		display: block;
		background-color: #2a3d5b;
		padding: 10px;
		width: 100vw;
		text-align: center;
		margin-top: 35px;
		color: white;
		position: fixed;
		bottom: 0;
		border: 0px;
	}
	.sm-place-order2{
		font-size: 25px;
	}
}

