.mens-tshirt-header{
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0px 20px;
	font-size: 25px;
	color: black;

}
.acitve{
	padding-bottom: 5px;

	border-bottom: 2px solid black;
}

.header-sections{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	position: sticky;
	top: 0;
	background: rgba(255,255,255, 0.89);
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-section{
	padding-right: 35px;
		position: sticky;
		/*
	display: inline-block;
	*/
}

.mens-tshirt-header-div img {
	width: 20px;
	height: 20px;
}
.mens-tshirt-header-div a{
	text-decoration: none;
	list-style: none;
	color: black;

}

.tshirt-block{

	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-left: 10%;
	margin-right: 10%;

	}

.tshirt-image-block img{
	height: 100%;
	width: 100%;
	max-width: 500px;
	object-fit: cover;
}

.tshirt-description-block{
	max-width: 100%;
	padding-top: 20px;
}
.tshirt-description-block-heading{
	font-size: 25px;
}
.tshirt-description-block-price{
	font-size: 18px;
	color: grey;
	padding-top: 15px;
	padding-bottom: 10px;
}



.tshirt-description-block-size-block{
		margin-top: 30px;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		
		color: grey;
		margin-right: 20px;
			
		display: grid;
		grid-template-columns: repeat(4,1fr);
		align-items: center;

}
.tshirt-description-block-size{
	grid-column: 1/2;
	grid-row:  1/2;
}
select option { padding: 16px;}

.tshirt-description-block-size-names{
	grid-column: 2/5;
	grid-row: 1/2;
}

.tshirt-description-block-size-names select{
	width: 100%;
}

.tshirt-description-block-num-block{
		margin-top: 10px;
		border-bottom: 1px solid grey;
		color: grey;
		margin-right: 20px;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		align-items: center;	
}


.tshirt-description-block-num-names  select , .tshirt-description-block-size-names select{
	border: 0px solid white;
	color: grey;
	outline: none;
	text-align: center;
	height: 50px;

}


.tshirt-description-block-num-names{
	grid-column: 2/5;
	grid-row: 1/2;
}
.tshirt-description-block-num{
	grid-row: 1/2;
	grid-column: 1/2;
}
.tshirt-description-block-num-names  select  {
	width: 100%;
}
.tshirt-description-block-num-names  select option{
	width: 40px;
}
.size{
	display: inline-block;
}

.tshirt-description-block-num, .tshirt-description-block-num-names{
	
}
.tshirt-description-block-description-name{
	margin-top: 40px;

}

.tshirt-description-block-description{
	color: grey;
	font-size: 15px;
	margin-top: 20px;
}

.add-to-cart{
	text-align: center;
	margin-top: 35px;
}

.add-to-cart-but{
	padding: 8px 20px;
	border: 2px solid black;
	text-align: center;
	background-color: white;

}
.creator{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;

}
.demo-div{
	text-align: center;
}
.demo{
	text-align: center;
	padding: 10px 25px;
	border: 2px solid black;
	background-color: black;
	color: white;
}
.gap{
	display: none;
}
.sm-add-to-cart{
	display: none;	
}
body{
	margin-bottom: 0;
}


@media (max-width: 768px) {
	body{
		margin: 0;
	}

	.header-sections{
		display: none;
	}

	.tshirt-image-block{
		grid-row: 1/2;
		grid-column: 1/3;
	}
	.tshirt-description-block{
		grid-row: 2/3;
		grid-column: 1/3;
	}

	.add-to-cart{
		display: none;
	}
	.creator{
		display: none;
	}
	.demo-div{
		display: none;
	}

	.gap{
		display: block;
		height: 20px;
		padding-top: 20px;
		margin-top: 20px;

	}


	.sm-add-to-cart{
		display: block;
		background-color: #2a3d5b;
		padding: 10px;
		width: 100%;
		text-align: center;
		margin-top: 35px;
		color: white;
		position: fixed;
		bottom: 0;
	}


	
}