body{
	background: white;
	margin:0;
	padding: 0 
}
img{
	object-fit: cover;
}

.title{
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
}

.header-sections{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	position: sticky;
	top: 0;
	background: rgba(255,255,255, 0.89);
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-section{
	padding-right: 35px;
		position: sticky;
		/*
	display: inline-block;
	*/
}




.section-block{
}
.mens-outerwear img,.ladies-outerwear img {
	width: 100%;
	height: 100%;
}

.mens-outerwear{
	object-fit: cover;
}

.outwear-block-img-div{
	height: 300px;
}


.outwear-text{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.shop-now{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: white;
	margin-bottom: 20px;

}
.shop-now button{

background-color: white;
  border: 2px solid black;
  color: black;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	cursor: pointer;
}

.t-shirts{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}


.t-shirts-block{
	padding: 0;
	margin: 0;
	background: white;
}
.t-shirts-block-img-div img{
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.t-shirts-block-img-div {
	height: 300px;
}

.creator{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;

}
.demo-div{
	text-align: center;
}
.demo{
	text-align: center;
	padding: 10px 25px;
	border: 2px solid black;
	background-color: black;
	color: white;
}

@media (max-width: 600px) {

	.header-sections{
		display: none;
	}


	.outwear-block-img-div{
		height: 200px;
		width: 100%;
	}
	.t-shirts-block-img-div {
		height: 200px;
	}



	.shop-now{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: white;
	margin-bottom: 20px;

}
.shop-now button{

	background-color: white;
  border: 2px solid black;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
	
}


@media (max-width: 350px) {

	.outwear-block-img-div{
		height: 150px;
		width: 100%;
	}
	.t-shirts-block-img-div {
		height: 150px;
	}


	.shop-now{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: white;
	margin-bottom: 20px;

}
.shop-now button{

	background-color: white;
  border: 2px solid black;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
	
}